.terminal {
  font-weight: 700;
  font-style: italic;
  color: #ff8ffd;

  margin-right: 8px;
}

.line {
  & span {
    line-height: 130%;
  }

  &.with-terminal span {
    line-height: 50%;
  }
}
.line-content.completed + .typed-cursor {
  display: none;
}
